*{
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    background-color: #333333;
    cursor:none;
}

button{
    background-color: black;
    color: green;
    border: 1px solid blue;
    padding: 1rem;
    cursor:pointer;
    opacity: 0.8;
}

button:hover{
    border: 1px solid pink;
}

video{
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0 0 20px white;
    object-fit: cover;
}

#localVideo{
    position: absolute;
}

#remoteVideo{
    position: absolute;
}

#videos{
    display: flex;
    justify-content: space-around;
}

.game{
    padding: 1rem;
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.disc{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.disc--active{
    border: 1px solid black;
    background-color: aqua;
    opacity: 0.5;
    animation: socket 400ms alternate infinite;
}

@keyframes socket {
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(1.2);
    }
}

::-webkit-scrollbar{
    width: 0;
}