*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: burlywood;

}

video{
    background-color: #333333;
    border: 2px solid black;
    height: 15rem;
    width: 30rem;
    margin: 3rem 0;
    border-radius: 0.75rem;
}

#videos{
    display: flex;
    justify-content: space-around;
}